# Secrets & env
.env
.env.local
.env.*.local
.dev.vars
*.secret
*.pem
*.key

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Node (se in futuro)
node_modules/
npm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
